html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-inline-start: 0;
}

a {
  text-decoration: none;
  display: block;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.no-list {
  list-style: none;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  // letter-spacing: 0.03em;
  color: var(--main-text-color);

  background-color: var(--form-bg-color);
  @media screen and (max-width: 767px) {
    background-image: url(../images/footer/wheat-flour-s.png),
      url('./../images/background_images/bgt-m-x1.png'),
      url('./../images/background_images/bgb-m-x1.png');
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/footer/wheat-flour-s-x2.png),
        url('./../images/background_images/bgt-m-x2.png'),
        url('./../images/background_images/bgb-m-x2.png');
    }
    @media (min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
      background-image: url(../images/footer/wheat-flour-s-x3.png),
        url('./../images/background_images/bgt-m-x2.png'),
        url('./../images/background_images/bgb-m-x3.png');
    }
    background-repeat: no-repeat;
    background-size: 113px auto, 100% 461px, 100% 1215px;
    background-position: left calc(50% + 129px) bottom -35px, top 0px left 0px,
      bottom 245px left 0px;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    background-image: url(../images/footer/wheat-flour-m.png),
      url('./../images/background_images/bgt-t-x1.png'),
      url('./../images/background_images/bgb-t-x1.png');
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/footer/wheat-flour-m-x2.png),
        url('./../images/background_images/bgt-t-x2.png'),
        url('./../images/background_images/bgb-t-x2.png');
    }
    @media (min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
      background-image: url(../images/footer/wheat-flour-m-x3.png),
        url('./../images/background_images/bgt-t-x3.png'),
        url('./../images/background_images/bgb-t-x3.png');
    }
    background-repeat: no-repeat;
    background-size: 207px auto, 100% 622px, 100% 1260px;
    background-position: left calc(50% + 295px) bottom -38px, top, bottom;
  }

  @media screen and (min-width: 1280px) {
    background-image: url(../images/header/spoon-1x.png), url(../images/header/donuts-l-1x.png),
      url(../images/footer/wheat-flour-l.png), url('./../images/background_images/bgt-d-x1.png'),
      url('./../images/background_images/bgb-d-x1.png');
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/header/spoon-1x.png), url(../images/header/donuts-l-2x.png),
        url(../images/footer/wheat-flour-l-x2.png),
        url('./../images/background_images/bgt-d-x2.png'),
        url('./../images/background_images/bgb-d-x2.png');
    }
    @media (min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
      background-image: url(../images/header/spoon-1x.png), url(../images/header/donuts-l-3x.png),
        url(../images/footer/wheat-flour-l-x3.png),
        url('./../images/background_images/bgt-d-x3.png'),
        url('./../images/background_images/bgb-d-x3.png');
    }
    background-repeat: no-repeat;
    background-size: 264px auto, 795px auto, 362px auto, 100% 1035px, 100% 1460px;
    background-position: left calc(50% - 630px) top 166px, left calc(50% + 337px) top -171px,
      left calc(50% + 497px) bottom -134px, top, bottom;
  }
}

.title {
  font-family: 'Caveat Brush', sans-serif;
  font-weight: 400;
  color: var(--title-color);
}

.button-style {
  font-family: 'Caveat Brush', sans-serif;
  font-size: 18px;
  letter-spacing: 0.05em;
  width: 145px;
  height: 40px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  background-color: var(--bg-button-color);
  color: var(--white-color);
}

@media screen and (min-width: 1280px) {
  body {
    font-size: 18px;
    line-height: 1.22;
  }

  .button-style {
    font-size: 24px;
    width: 158px;
    height: 45px;
  }
}
