html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-inline-start: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.no-list {
  list-style: none;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--main-text-color);

  @media screen and (min-width:320px) {
    background: url('./../images/background_images/top-mobile.svg') no-repeat,
      url('./../images/background_images/bottom-mobile.svg') no-repeat;
    background-position: top center, bottom center;
  }
  @media screen and (min-width:768px) {
    background: url('./../images/background_images/top-tablet.svg') no-repeat,
      url('./../images/background_images/bottom-tablet.svg') no-repeat;
    background-position: top center, bottom center;
  }
  @media screen and (min-width:1280px) {
    background: url('./../images/background_images/top-desktop.svg') no-repeat,
      url('./../images/background_images/bottom-desktop.svg') no-repeat;
    background-position: top center, bottom center;
  }
}

.title {
  font-family: 'Caveat Brush', sans-serif;
  font-weight: 400;
  color: var(--title-color);
}

.button-style {
  font-family: 'Caveat Brush', sans-serif;
  font-size: 18px;
  letter-spacing: 0.05em;
  width: 145px;
  height: 40px;
  border-radius: 25px;
  border: none;
  background-color: var(--bg-button-color);
  color: var(--white-color);
}

@media screen and (min-width: 1280px) {
  body {
    font-size: 18px;
    line-height: 1.22;
  }

  .button-style {
    font-size: 24px;
    width: 158px;
    height: 45px;
  }
}
