:root {
  --background-color: #e5e5e5;
  --logo-color: #2e2520;
  --main-text-color: #2e2520;
  --title-color: #2e2520;
  --registration-input-color: rgba(171, 129, 108, 0.5);
  --registration-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15),
    4px 4px 4px rgba(171, 129, 108, 0.15);
  --mobile-menu-hover: #876655;
  --main-hover: #674d40;
  --focus-color: #674d40;
  --link-color: #ab816c;
  --form-bg-color: #fffff9;
  --body-bg-color: #fef3e4;
  --bg-button-color: #ab816c;
  --review-star-color: #ab816c;
  --white-color: #ffffff;
  --program-icons-color: #674d40;
  --program-shadow: 0px 4px 4px rgba(171, 129, 108, 0.25);
  --icons-color: #2e2520;
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --menu-bg-color: rgba(254, 243, 228, 0.9);
  --menu-active-color: rgba(240, 220, 198, 0.7);
  --icon-brd-color: rgba(46, 37, 32, 0.5);
}
