<section class="about-us" id="About">
  <div class="aboutus-container container">
    <div class="cupcake-thumb">
      <picture>
        <source
          srcset="
            ./images/about_us/desktop/desktopbox.png    1x,
            ./images/about_us/desktop/desktopbox@2x.png 2x
          "
          media="(min-width: 1280px)"
          type="image/png"
        />
        <source
          srcset="
            ./images/about_us/tablet/tabletbox.png    1x,
            ./images/about_us/tablet/tabletbox@2x.png 2x
          "
          media="(min-width: 768px)"
          type="image/png"
        />
        <source
          srcset="
            ./images/about_us/mobile/mobilbox.png    1x,
            ./images/about_us/mobile/mobilbox@2x.png 2x
          "
          media="(max-width: 767px)"
          type="image/png"
        />

        <img
          class="cupcake-pos"
          src="./images/about_us/desktop/desktopbox.png"
          width="512"
          alt="cupcake"
        />
      </picture>
    </div>

    <div class="about-wrapper">
      <h2 class="about-title title">About us</h2>
      <div class="about-wrapper__wrap">
        <p class="about-wrap__text">
          Oh My Donut is the shop which adores tasty deserts and spend hours to create sophisticated
          donuts which will save the world!
        </p>
        <p class="about-wrap__text about-text-pos">
          Eva has been baking since she was six years old and over the last 49 years, she has
          created hundreds of cakes for weddings and has baked for many celebrities. Eva and our
          shop have received multiple awards & recognition for excellence.
        </p>
        
        <div id="section">
        <p class="moretext about-wrap__text about-text-pos">
          
            We are going to teach you how to cook with passion and sparkles in your eyes! We love
            what we do and believe you will enjoy our cooking atmosphere!
          
        </p>
      
        <button class="about-btn moreless-button">Read more</button>
      
    </div>
    </div>
    </div>
  </div>
</section>
