<!DOCTYPE html>
<div class="container">
    <section>
        <h2 class="title">Contact</h2>
        <p class="contact__text">We will answer any question!</p>
        <form>
            <div class="contact__field">
                <input class="contact__input" type="email" id="contact-email" placeholder="Email" required>
            </div>
            <div class="contact__field">
                <input class="contact__input" type="text" id="contact-question" placeholder="Type your question" required>
            </div>
            <button class="contact__button" type="submit">Send</button>
        </form>
    </section>
</div>