<section class="contact">
    <div class="container">
        <h2 class="contact__title">Contact</h2>
        <p class="contact__text">We will answer any question!</p>
        <label>
            <input class="form-contact_input1" type="email" name="email"
                pattern="/^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$/" placeholder="Email" required="">
        </label>
        <label>
            <input class="form-contact_input2" type="text" name="text"
                pattern="/^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$/" placeholder="Type your question" required="">
        </label>
        <button class="form-contact_button">Send</button>



    </div>
</section>