<section class="contact" id="Contacts">
    <div class="container">
        <h2 class="contact__title title">Contact</h2>
        <p class="contact__text">We will answer any question!</p>
        <form>
            <div class="contact__field">
                <input class="contact__input" type="email" autocomplete="off" id="contact-email" placeholder="Email" required>
            </div>
            <div class="contact__field">
                <input class="contact__input" type="text" autocomplete="off" id="contact-question" placeholder="Type your question"
                    required>
            </div>
            <button class="contact__button button-style" type="submit">Send</button>
        </form>
    </div>
</section>