<footer class="footer">
    <div class="container">
        <ul class="footer__social-list no-list">
            <li class="footer__social-item">
                <a class="footer__social-link link" href="https://twitter.com" target="_blank"
                    rel="noopener nooreferrer">
                    <svg class="footer__social-icon">
                        <use href="./images/svg/symbol-defs.svg#soc-twitter"></use>
                    </svg>
                </a>
            </li>
            <li class="footer__social-item">
                <a class="footer__social-link link" href="https://www.instagram.com" target="_blank"
                    rel="noopener nooreferrer">
                    <svg class="footer__social-icon">
                        <use href="./images/svg/symbol-defs.svg#soc-instagram"></use>
                    </svg>
                </a>
            </li>
            <li class="footer__social-item">
                <a class="footer__social-link link" href="https://www.facebook.com" target="_blank"
                    rel="noopener nooreferrer">
                    <svg class="footer__social-icon">
                        <use href="./images/svg/symbol-defs.svg#soc-facebook"></use>
                    </svg>
                </a>
            </li>
        </ul>
        <ul class="footer__contacts-list no-list">
            <li class="footer__contacts-item">
                <a class="footer__tel-link link" href="tel:(910)222-8855">
                    <svg class="footer__contacts-icon">
                        <use href="./images/svg/symbol-defs.svg#icon-phone"></use>
                    </svg>
                    (910)222-8855
                </a>
            </li>
            <li class="footer__contacts-item">
                <a class="footer__adress-link link" href="https://goo.gl/maps/oxWwVmtLmzNkWRS3A" target="_blank"
                    rel="noopener nooreferrer">
                    <svg class="footer__contacts-icon">
                        <use href="./images/svg/symbol-defs.svg#icon-location"></use>
                    </svg>
                    New York
                </a>
            </li>
        </ul>

    </div>
    <div class="wheat-four">
        <img class="wheat-four__desc" 
        srcset="
            ./images/footer/desc/wheat-flour.png 1x,
            ./images/footer/desc/wheat-flour@x2.png 2x" 
        src="./images/footer/desc/wheat-flour.png" 
        alt="wheat-four"
        width="319" />
        <img class="wheat-four__tabl" 
        srcset="
            ./images/footer/tabl/wheat-flour.png 1x,
            ./images/footer/tabl/wheat-flour@x2.png 2x" 
        src="./images/footer/tabl/wheat-flour.png" 
        alt="wheat-four"
        width="147" />
        <img class="wheat-four__mob"
        srcset="
            ./images/footer/mob/wheat-flour.png 1x,
            ./images/footer/mob/wheat-flour@x2.png 2x" src="./images/footer/mob/wheat-flour.png"
        alt="wheat-four"
        width="87" />
    </div>
</footer>