<footer class="footer">
    <div class="container">
        <ul class="footer__social-list no-list">
            <li class="footer__social-item">
                <a class="footer__social-link link" href="https://twitter.com" target="_blank"
                    rel="noopener nooreferrer">
                    <svg class="footer__social-icon">
                        <use href="./images/svg/symbol-defs.svg#soc-twitter"></use>
                    </svg>
                </a>
            </li>
            <li class="footer__social-item">
                <a class="footer__social-link link" href="https://www.instagram.com" target="_blank"
                    rel="noopener nooreferrer">
                    <svg class="footer__social-icon">
                        <use href="./images/svg/symbol-defs.svg#soc-instagram"></use>
                    </svg>
                </a>
            </li>
            <li class="footer__social-item">
                <a class="footer__social-link link" href="https://www.facebook.com" target="_blank"
                    rel="noopener nooreferrer">
                    <svg class="footer__social-icon">
                        <use href="./images/svg/symbol-defs.svg#soc-facebook"></use>
                    </svg>
                </a>
            </li>
        </ul>
        <ul class="footer__contacts-list no-list">
            <li class="footer__contacts-item">
                <a class="footer__tel-link link" href="tel:(910)222-8855">
                    <svg class="footer__contacts-icon">
                        <use href="./images/svg/symbol-defs.svg#icon-phone"></use>
                    </svg>
                    (910)222-8855
                </a>
            </li>
            <li class="footer__contacts-item">
                <a class="footer__adress-link link" href="https://goo.gl/maps/oxWwVmtLmzNkWRS3A" target="_blank"
                    rel="noopener nooreferrer">
                    <svg class="footer__contacts-icon">
                        <use href="./images/svg/symbol-defs.svg#icon-location"></use>
                    </svg>
                    New York
                </a>
            </li>
        </ul>

    </div>
</footer>