<!-- Шапка сайта -->
<header class="site-header">
    <div class="header-container">
        <button type="button" class="menu-button" aria-expanded="false" aria-controls="menu-container"
            data-open-menu-button>
            <svg class="menu-button__icon" aria-label="open munu">
                <use class="menu__icon" href="./images/svg/symbol-defs.svg#menu"></use>
            </svg>
        </button>
        <a href="./index.html" class="logo">
            <svg class="logo__icon" aria-label="logo">
                <use href="./images/svg/symbol-defs.svg#logo"></use>
            </svg>
        </a>
        <nav class="site-navi" id="menu-container" data-menu>
            <a href="./index.html" class="menu-logo">
                <svg class="logo__icon--menu" aria-label="logo">
                    <use href="./images/svg/symbol-defs.svg#logo"></use>
                </svg>
            </a>
            <ul class="site-menu">
                <li class="site-menu__item">
                    <a href="#About" class="site-menu__link" data-menu-link aria-label="About us">
                        About us
                    </a>
                </li>
                <li class="site-menu__item">
                    <a href="#Program" class="site-menu__link" data-menu-link aria-label="Program">
                        Program
                    </a>
                </li>
                <li class="site-menu__item">
                    <a href="#Reviews" class="site-menu__link" data-menu-link aria-label="Reviews">
                        Reviews
                    </a>
                </li>
                <li class="site-menu__item">
                    <a href="#Contacts" class="site-menu__link" data-menu-link aria-label="Contacts">
                        Contacts
                    </a>
                </li>
            </ul>
            <button type="button" class="close-menu" aria-expanded="false" aria-controls="menu-container"
                data-close-menu-button>
                <svg class="close-menu__icon" aria-label="close-menu">
                    <use class="menu__cross" href="./images/svg/symbol-defs.svg#close-menu"></use>
                </svg>
            </button>
        </nav>
        <h1 class="title site-title">
            Donut Masterclass<br>with the Donut King
        </h1>
        <p class="site-subtitle">
            Hosted by Eva Green
        </p>
        <a href="#Register" class="button-style header-button" aria-label="Register">
            Register
        </a>
        <ul class="soc-list">
            <li class="soc-list__item">
                <a href="" class="soc-list__link">
                    <svg class="soc-list__icon">
                        <use href="./images/svg/symbol-defs.svg#soc-twitter"></use>
                    </svg>
                </a>
            </li>
            <li class="soc-list__item">
                <a href="" class="soc-list__link">
                    <svg class="soc-list__icon">
                        <use href="./images/svg/symbol-defs.svg#soc-instagram"></use>
                    </svg>
                </a>
            </li>

            <li class="soc-list__item">
                <a href="" class="soc-list__link">
                    <svg class="soc-list__icon">
                        <use href="./images/svg/symbol-defs.svg#soc-facebook"></use>
                    </svg>
                </a>
            </li>
            <li class="social-list__item">
            </li>
        </ul>
        <div class="donuts-m">
            <img srcset="
                ./images/header/donuts-m-1x.png 1x,
                ./images/header/donuts-m-2x.png 2x,
                ./images/header/donuts-m-3x.png 3x" 
                src="./images/header/donuts-m-1x.png" 
                alt="donuts"
                width="380" />
        </div>
    </div>
</header>