<section class="program">
    <div class="container">
    <div class="program__text">
        <h2 class="program__heading">Program</h2>
        <p class="program__paragraph_1">Indulge in this immersive sweet treat experience with The Chef Donut Queen
        in her New York donut shop!</p>
        <ul class="program__text-list">
            <li class="program__text-item">A stand up history of donuts</li>
            <li class="program__text-item">Make 3 donut flavors of your choice</li>
            <li class="program__text-item">Enjoy all-you-can-eat donuts</li>
            <li class="program__text-item">Cocktail pairings and coffee included</li>
            <li class="program__text-item">Photoshoot by professional photographer</li>
            <li class="program__text-item">Secret receipt of cooking from Eva</li>
            <li class="program__text-item">All products are included in the price</li>
        </ul>
        <p class="program__paragraph_2">Come with your dear people and friends
        and you will spend an unforgettable time and
        will become a real professional
        in donuts cooking!</p>
    </div>
    <div class="program__images">
        <ul class="program__images-list">
            <li class="program__images-item"><h3 class="title">Type of the event</h3></li>
            <li class="program__images-item"></li>
            <li class="program__images-item"></li>
            <li class="program__images-item"></li>
        </ul>

    </div>
    </div>
</section>