<section class="program" id="Program">
    <div class="container program__flex-box">
        <div class="program__text">
            <h2 class="program__heading title">Program</h2>
            <p class="program__paragraph_1">Indulge in this immersive sweet treat experience with The Chef Donut Queen
                in her New York donut shop!</p>
            <ul class="program__text-list">
                <li class="program__text-item">A stand up history of donuts</li>
                <li class="program__text-item">Make 3 donut flavors of your choice</li>
                <li class="program__text-item">Enjoy all-you-can-eat donuts</li>
                <li class="program__text-item">Cocktail pairings and coffee included</li>
                <li class="program__text-item">Photoshoot by professional photographer</li>
                <li class="program__text-item">Secret receipt of cooking from Eva</li>
                <li class="program__text-item">All products are included in the price</li>
            </ul>
            <div id="section-program">
            <p class="program-moretext program__paragraph_2">
                Come with your dear people and friends
                and you will spend an unforgettable time and
                will become a real professional
                in donuts cooking!</p>
            </div>
                <button class="program__button program-button">Read more</button>
        </div>
        <div class="program__images">
            <ul class="program__images-list no-list">
                <li class="program__images-item">
                    <picture>
                        <source class="program__donut" srcset="./images/program/desktop/program_donut1_desktop.png 1x, ./images/program/desktop/program_donut1_desktop@2x.png 2x" media="(min-width:1280px)">
                        <source class="program__donut" srcset="./images/program/tablet/program_donut1_tablet.png 1x, ./images/program/tablet/program_donut1_tablet@2x.png 2x" media="(min-width:768px)">
                        <source class="program__donut" srcset="./images/program/mobile/program_donut1_mobile.png 1x, ./images/program/mobile/program_donut1_mobile@2x.png 2x" media="(max-width:767.98px)">
                        <img src="./images/program/desktop/program_donut1_desktop.png" alt="donut" width="97"
                            class="program__donut program__donut1">
                    </picture>
                    
                    <div class="program__circle">
                    <h3 class="title program__title">Type of the event</h3>
                    <p class="program__label">Cooking classes</p>
                    <svg width="24.62" height ="22.82" ><use href="./images/svg/symbol-defs.svg#icon-chef-hat"></use></svg></div>
                </li>
                <li class="program__images-item program__images-item3--pos">
                    <picture>
                        <source class="program__donut"
                            srcset="./images/program/desktop/program_donut3_desktop.png 1x, ./images/program/desktop/program_donut3_desktop@2x.png 2x"
                            media="(min-width:1280px)">
                        <source class="program__donut"
                            srcset="./images/program/tablet/program_donut3_tablet.png 1x, ./images/program/tablet/program_donut3_tablet@2x.png 2x"
                            media="(min-width:768px)">
                        <source class="program__donut"
                            srcset="./images/program/mobile/program_donut3_mobile.png 1x, ./images/program/mobile/program_donut3_mobile@2x.png 2x"
                            media="(max-width:767.98px)">
                            <img src="./images/program/desktop/program_donut3_desktop.png" alt="donut" width="97" class="program__donut program__donut3">
                    </picture>
                    <div class="program__circle">
                        <h3 class="title program__title">Time of the event</h3>
                        <p class="program__label">18:30 (2.5 hours)</p>
                        <svg width="25" height="25">
                            <use href="./images/svg/symbol-defs.svg#icon-clock"></use>
                        </svg>
                    </div>
                </li></ul>
                <ul class="program__images-list no-list">
                <li class="program__images-item program__images-item2--pos">
                    <picture>
                        <source class="program__donut"
                            srcset="./images/program/desktop/program_donut2_desktop.png 1x, ./images/program/desktop/program_donut2_desktop@2x.png 2x"
                            media="(min-width:1280px)">
                        <source class="program__donut"
                            srcset="./images/program/tablet/program_donut2_tablet.png 1x, ./images/program/tablet/program_donut2_tablet@2x.png 2x"
                            media="(min-width:768px)">
                        <source class="program__donut"
                            srcset="./images/program/mobile/program_donut2_mobile.png 1x, ./images/program/mobile/program_donut2_mobile@2x.png 2x"
                            media="(max-width:767.98px)">
                            <img src="./images/program/desktop/program_donut2_desktop.png" alt="donut" width="97" class="program__donut program__donut2">
                    </picture>
                    <div class="program__circle">
                        <h3 class="title program__title">Number of guests</h3>
                        <p class="program__label">1 to 20</p>
                        <svg width="26" height="23.36">
                            <use href="./images/svg/symbol-defs.svg#icon-people"></use>
                        </svg>
                    </div>
                </li>
                <li class="program__images-item program__images-item4--pos">
                    <picture>
                        <source class="program__donut"
                            srcset="./images/program/desktop/program_donut4_desktop.png 1x, ./images/program/desktop/program_donut4_desktop@2x.png 2x"
                            media="(min-width:1280px)">
                        <source class="program__donut"
                            srcset="./images/program/tablet/program_donut4_tablet.png 1x, ./images/program/tablet/program_donut4_tablet@2x.png 2x"
                            media="(min-width:768px)">
                        <source class="program__donut"
                            srcset="./images/program/mobile/program_donut4_mobile.png 1x, ./images/program/mobile/program_donut4_mobile@2x.png 2x"
                            media="(max-width:767.98px)">
                            <img src="./images/program/desktop/program_donut4_desktop.png" alt="donut" width="97" class="program__donut program__donut4">
                    </picture>
                    <div class="program__circle">
                    <h3 class="title program__title">The host speaks</h3>
                    <p class="program__label">English,French</p>
                    <svg width="31.48" height="21.3">
                        <use href="./images/svg/symbol-defs.svg#icon-chat"></use>
                    </svg></div>
                    </li>
            </ul>
        </div>
    </div>
</section>