
<section class="reviews">
    <div class="container">
        <h2 class="title review__title">Reviews</h2>
        <div class="slider">
            <div class="slider__item Will">
                <div class="photo__cover">
                    <img class="reviewer__photo" src="./images/reviews/will-110.png" alt="Will reviewer"> 
                    <img class="reviewer__rate" src="./images/reviews/fiveStars-136.png" alt="feve stars grade"> 
                    <p class="reviewer__name">Will</p>
                </div>   
            </div>
            <div class="slider__item Elizabeth">
                <div class="photo_cover">   
                    <img class="reviewer__photo" src="./images/reviews/Elizabeth-110.png" alt="Elizabeth reviewer"> 
                    <img class="reviewer__rate" src="./images/reviews/fiveStars-136.png" alt="five stars grade"> 
                <p class="reviewer__name">Elizabeth</p>
                </div>
            </div>
            <div class="slider__item Elizabeth">
                <div class="photo_cover">   
                    <img class="reviewer__photo" src="./images/reviews/Person-110.png" alt="Elizabeth reviewer"> 
                    <img class="reviewer__rate" src="./images/reviews/fiveStars-136.png" alt="five stars grade"> 
                <p class="reviewer__name">Elizabeth</p>
                </div>
            </div>
            <div class="slider__item Person">
                <div class="photo__cover">
                    <img class="reviewer__photo" src="./images/reviews/John-110.png" alt="Person reviewer"> 
                    <img class="reviewer__rate" src="./images/reviews/fourStars-136.png" alt="four stars grade"> 
                    <p class="reviewer__name">Person14</p>  
                </div>
            </div>  
        </div>
        <article class="John__text">
            Rude employee`s! But food is delicious! 
        </article>
        <article class="Will__text">
            Last time I have visited a cooking course by Eva 
I was impressed with the  way she explained everything
to people. You can be sure you will manage to cook a delicious dish even if it is your first time in the kitchen!
Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to everyone!
        </article>
        <article class="Elizabeth__text">
            Last time I have visited a cooking course by Eva 
I was impressed with the  way she explained everything
to people.
        </article>
        <article class="Person__text">
            I`m happy 
        </article>
        <p class="counter">2/15</p>
    </div>
</section>