<section class="reviews">
    <div class="container">
        <h2 class="title review__title">Reviews</h2>
        <div class="slider">
            <div class="slider__item">
                <div class="photo__cover">
                    <img src="./images/reviews_images/John-110.png" class="reviewer__photo" alt="John customer reviewer">
                <img src="./images/reviews_images/fourStars-136.png" class="reviewer__rate" alt="four stars rate grade">
                <p class="reviewer__name">John</p>  
                </div>
                <article class="John__review">Last time I have visited a cooking course by Eva 
                    I was impressed with the way she explained everything
                    to people. You can be sure you will manage to cook a delicious dish even if it is your first time in the kitchen!
                   Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to everyone!</article>  
            </div>
            <div class="slider__item">
                <div class="photo__cover">
                    <img src="./images/reviews_images/will-110.png" class="reviewer__photo" alt="Will customer reviewer">
                <img src="./images/reviews_images/fiveStars-136.png" class="reviewer__rate" alt="five stars rate grade">
                <p class="reviewer__name">Will</p>
                </div>   
                <article class="Will__review">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente libero, laudantium explicabo dolor 
                    modi incidunt nostrum, beatae autem
                     facere perferendis laboriosam iusto repudiandae inventore? Provident suscipit similique iure voluptates dignissimos!
                     Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente libero, laudantium explicabo dolor 
                     modi incidunt nostrum, beatae autem
                      facere perferendis laboriosam iusto repudiandae inventore? Provident suscipit similique iure voluptates dignissimos!Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente libero, laudantium explicabo dolor 
                      modi incidunt nostrum, beatae autem
                       facere perferendis laboriosam iusto repudiandae inventore? Provident suscipit similique iure voluptates dignissimos!</article>
            </div>
            <div class="slider__item">
                <div class="photo_cover">
                    <img src="./images/reviews_images/Elizabeth-110.png" class="reviewer__photo" alt="Elizabeth customer reviewer">
                <img src="./images/reviews_images/fiveStars-136.png" class="reviewer__rate" alt="five stars rate grade">
                <p class="reviewer__name">Elizabeth</p>
                </div>
                <article class="Elizabeth__review">Last time I have visited a cooking course by Eva 
                    I was impressed with the way she explained everything
                    to people.</article>
            </div>
            <p class="counter">2/15</p>
        </div>
    </div>
</section>