.title {
  font-family: Caveat Brush, sans-serif;
  font-size: 24px;
  line-height: 2.71;
  text-align: center;
  font-weight: inherit;
  color: var(--title-color);
}

.contact__text {
  line-height: 4.06;
  text-align: center;
}

.contact__field {
  width: 265px;
  position: relative;
  margin-bottom: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 320) {
    width: 265px;
  }
  @media screen and (min-width: 768px) {
    width: 410px;
    margin-bottom: 15px;
  }
  @media screen and (min-width: 1280px) {
    width: 430px;
  }
}

.contact__input {
  width: inherit;
  height: 22px;
  border: none;
  border-bottom: 1px solid var(--review-star-color);
  background-color: transparent;
}

.contact__input::placeholder {
  color: var(--registration-input-color);
}

.contact__button {
  display: block;
  margin: 10px auto 10px auto;
  width: 145px;
  height: 40px;
  background-color: var(--link-color);
  border-radius: 25px;
  border: none;
  color: var(--white-color);
  font-family: Caveat Brush, sans-serif;
  font-size: 18px;
  text-align: center;
  cursor: pointer;

  @media screen and (min-width: 1280px) {
    width: 158px;
    height: 45px;
    font-size: 24px;
  }
}

.contact__button:hover,
.contact__button:focus {
  background-color: var(--mobile-menu-hover);
}
