.form-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  transform: rotate(0deg);
}

.contact__title {
  font-size: 36px;
  line-height: 65px;
}

.contact__text {
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 65px;
  letter-spacing: 0em;
  text-align: center;
}

.form-contact_input1,
.form-contact_input2 {
  width: 430px;
  margin-bottom: 25px;
  border: none;
  border-bottom: 1px solid #ab816c;
}

.form-contact_button {
  width: 158px;
  height: 45px;
  color: #fff;
  border: none;
  text-align: center;
}
