@mixin centeredFlex($al-It: center, $just-Cont: center, $fl-wrap: nowrap, $fl-dir: row) {
  display: flex;
  align-items: $al-It;
  justify-content: $just-Cont;
  flex-wrap: $fl-wrap;
  flex-direction: $fl-dir;
}

%listZero {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

%lincZero {
  text-decoration: none;
  display: block;
}

%btnZero {
  position: absolute;
  @include centeredFlex();
  padding: 0;
  border: 0;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}

.site-header {
  position: relative;
}

.header-container {
  @include centeredFlex(center, center, nowrap, column);
  position: relative;
  padding-top: 7px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  min-width: 320px;

  @media screen and (max-width: 767px) {
    background-image: url(../images/header/donuts-s-1x.png);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/header/donuts-s-2x.png);
    }
    @media (min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
      background-image: url(../images/header/donuts-s-2x.png);
    }
    background-repeat: no-repeat;
    background-size: 41.3vw auto;
    background-position: left -3.75vw top -15.9vw;
  }

  @media screen and (min-width: 768px) {
    @include centeredFlex(flex-start, flex-start, nowrap, column);
    width: 768px;
    padding-top: 27px;
    padding-left: 68px;
  }

  @media screen and (min-width: 1280px) {
    width: 1280px;
    padding-top: 31px;
    padding-left: 189px;
  }
}

.logo {
  @extend %lincZero;
  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.logo__icon {
  width: 96px;
  height: 43px;

  &--menu {
    width: 190px;
    height: 85px;

    @media screen and (min-width: 1280px) {
      width: 158px;
      height: 71px;
    }
  }
}

.close-menu,
.menu-button {
  @extend %btnZero;
  transition: background-color var(--animation), box-shadow var(--animation);

  &:focus,
  &:hover {
    background-color: var(--menu-active-color);
    box-shadow: 0 0 3px 3px var(--menu-active-color);
  }
}

.menu-button {
  top: 7px;
  right: 15px;
  width: 34px;
  height: 34px;

  @media screen and (min-width: 768px) {
    top: 23px;
    right: 63px;
  }

  &__icon {
    width: 30px;
    height: 30px;
  }

  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.close-menu {
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;

  &__icon {
    width: 18px;
    height: 18px;
  }

  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.site-navi {
  @extend %lincZero;
  @media screen and (max-width: 1279px) {
    position: fixed;
    z-index: 99;
    @include centeredFlex(center, flex-start, nowrap, column);
    padding-top: 25px;
    background-color: var(--menu-bg-color);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    visibility: hidden;
    transform: scale(0.8);
    opacity: 0;
    backdrop-filter: blur(2px);
    transition: visibility var(--animation), transform var(--animation), opacity var(--animation);

    @media screen and (max-height: 310px) {
      overflow: scroll;
    }

    @media screen and (max-height: 410px) {
      padding-top: 15px;
    }

    &.menu-is-open {
      transform: scale(1);
      opacity: 1;
      visibility: visible;
    }
  }

  @media screen and (min-width: 1280px) {
    @include centeredFlex();
  }
}

.site-menu {
  @extend %listZero;
  @include centeredFlex(center, center, wrap, column);
  @media screen and (max-width: 1279px) {
    margin-top: 40px;
  }

  @media screen and (min-width: 1280px) {
    @include centeredFlex();
    margin-left: 28px;
  }

  @media screen and (max-height: 410px) {
    margin-top: 25px;
  }
}

.site-menu__item + .site-menu__item {
  margin-top: 41px;

  @media screen and (min-width: 1280px) {
    margin-top: 0px;
  }

  @media screen and (max-height: 410px) {
    margin-top: 16px;
  }
}

.site-menu__link {
  @extend %lincZero;
  padding: 2px 15px;
  border-radius: 20px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.21;
  text-align: center;
  color: var(--main-text-color);
  transition: background-color var(--animation), box-shadow var(--animation);

  &:hover,
  &:focus {
    background-color: var(--menu-active-color);
    box-shadow: 0 0 3px 3px var(--menu-active-color);
  }

  @media screen and (min-width: 1280px) {
    padding: 2px 10px;
    border-radius: 16px;
    font-size: 18px;
    font-weight: 400;
  }
}

.site-title {
  font-family: 'Caveat Brush', sans-serif;
  margin-top: 33px;
  font-style: normal;
  font-size: 30px;
  line-height: 1.26;

  @media screen and (max-width: 767px) {
    text-align: center;
  }

  @media screen and (min-width: 768px) {
    margin-top: 10px;
  }

  @media screen and (min-width: 1280px) {
    margin-top: 57px;
    font-size: 64px;
    line-height: 1.02;
  }
}

.site-subtitle {
  margin-top: 3px;
  margin-bottom: 37px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.22;
  text-align: center;
  color: var(--title-color);

  @media screen and (min-width: 768px) {
    margin-bottom: 26px;
  }

  @media screen and (min-width: 1280px) {
    margin-top: 15px;
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 1.22;
  }
}

.header-button {
  border-radius: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 2.2;
  text-align: center;
  transition: background-color var(--animation);

  @media screen and (min-width: 1280px) {
    line-height: 1.875;
    border-radius: 22px;
  }

  &:hover,
  &:focus {
    background-color: var(--mobile-menu-hover);
  }
}

.soc-list__icon {
  width: 14px;
  height: 14px;
  fill: var(--icons-color);
  transition: fill var(--animation);

  @media screen and (min-width: 1280px) {
    width: 18px;
    height: 18px;
  }
}

.soc-list__link {
  @extend %lincZero;
  @include centeredFlex();
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 1px solid var(--icon-brd-color);
  transition: background-color var(--animation);

  &:focus,
  &:hover {
    background-color: var(--mobile-menu-hover);
  }

  &:focus .soc-list__icon,
  &:hover .soc-list__icon {
    fill: var(--white-color);
  }

  @media screen and (min-width: 1280px) {
    width: 38px;
    height: 38px;
  }
}

.soc-list {
  @extend %listZero;
  @include centeredFlex();
  margin-top: 45px;

  @media screen and (min-width: 768px) {
    margin-top: 28px;
  }

  @media screen and (min-width: 1280px) {
    margin-top: 62px;
  }

  &__item + &__item {
    margin-left: 5px;

    @media screen and (min-width: 1280px) {
      margin-left: 8px;
    }
  }
}

.donuts-m {
  position: absolute;
  z-index: -1;
  display: none;
}

.donuts-m {
  top: -35px;
  left: 254px;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    display: block;
  }
}
