.program {
  display: flex;
  flex-wrap: nowrap;
}
.program__text {
  max-width: 382px;
}
.program__heading {
  font-family: 'Caveat Brush', sans-serif;
  line-height: 1.8;
  font-size: 36px;
  margin-bottom: 10px;
}
.program__paragraph_1 {
  font-size: 18px;
  margin-bottom: 21px;
}
.program__text-list {
  list-style: none;
  margin-bottom: 21px;
}
.program__text-item:not(:last-child) {
  padding-bottom: 15px;
}
.program__paragraph_2 {
  font-size: 18px;
}

.program__text-item::before {
  content: '>';
  width: 100%;
  margin-right: 3px;
}
.title {
  --title-color: #000000;
}
